@import "assets/scss/class";

$orange-50: #fbe8e6;
$orange-100: #ffc8ba;
$orange-200: #ffa48e;
$orange-300: #fe8062;
$orange-400: #fd6341;
$orange-500: #fc4422;
$orange--light: $orange-200;
$orange--dark: $orange-200;

$blue-50: #e0f7f8;
$blue-100: #b3eced;
$blue-200: #84dfe2;
$blue-300: #55d1d8;
$blue-400: #36c7d0;
$blue-500: #21bdca;
$blue--light: $blue-400;
$blue--dark: $blue-200;

$purple-50: #e9ebfa;
$purple-100: #c8cdf2;
$purple-200: #a4ade9;
$purple-300: #7e8ce0;
$purple-400: #6171d9;
$purple-500: #4657ce;
$purple--light: $purple-300;
$purple--dark: $purple-200;

$green-50: #e1f7f1;
$green-100: #b5eadb;
$green-200: #83dec4;
$green-300: #4acfac;
$green-400: #01c29a;
$green-500: #00b589;
$green--light: $green-300;
$green--dark: $green-200;

$yellow-50: #fff2e2;
$yellow-100: #ffdcb7;
$yellow-200: #ffc68a;
$yellow-300: #ffaf5f;
$yellow-400: #fe9e44;
$yellow-500: #fd8e32;
$yellow--light: $yellow-300;
$yellow--dark: $yellow-200;

$primary-50: $yellow-50;
$primary-100: $yellow-100;
$primary-200: $yellow-200;
$primary-300: $yellow-300;
$primary-400: $yellow-400;
$primary-500: $yellow-500;
$primary--light: $yellow-300;
$primary--dark: $yellow-200;

$dark: #121212;
$light: #ffffff;

$bg-color: $light;
$text-color: $dark;
$bg-color--dark: $dark;
$text-color--dark: $light;

/*  */
$card-color--light-1: white;
$card-color--light-2: white;
$card-color--light-3: white;
$card-color--light-4: white;
$card-color--light-6: white;
$card-color--light-8: white;
$card-color--light-12: white;
$card-color--light-16: white;
$card-color--light-24: white;

$card-color--dark-1: #1d1d1d;
$card-color--dark-2: #212121;
$card-color--dark-3: #242424;
$card-color--dark-4: #272727;
$card-color--dark-6: #2c2c2c;
$card-color--dark-8: #2d2d2d;
$card-color--dark-12: #323232;
$card-color--dark-16: #353535;
$card-color--dark-24: #383838;

:root {
  --card-color--1: #{$card-color--light-1};
  --card-color--2: #{$card-color--light-2};
  --card-color--3: #{$card-color--light-3};
  --card-color--4: #{$card-color--light-4};
  --card-color--6: #{$card-color--light-6};
  --card-color--8: #{$card-color--light-8};
  --card-color--12: #{$card-color--light-12};
  --card-color--16: #{$card-color--light-16};
  --card-color--24: #{$card-color--light-24};

  body.dark-mode,
  body.system-dark {
    --card-color--1: #{$card-color--dark-1};
    --card-color--2: #{$card-color--dark-2};
    --card-color--3: #{$card-color--dark-3};
    --card-color--4: #{$card-color--dark-4};
    --card-color--6: #{$card-color--dark-6};
    --card-color--8: #{$card-color--dark-8};
    --card-color--12: #{$card-color--dark-12};
    --card-color--16: #{$card-color--dark-16};
    --card-color--24: #{$card-color--dark-24};
  }
}
