@import "fonts";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "pages";
@import "components/common";
@import "colors";
@import "class";

:root {
  --bg-color: #{$bg-color};
  --text-color: #{$text-color};
  --yellow: #{$yellow--light};
  --blue: #{$blue--light};
  --purple: #{$purple--light};
  --green: #{$green--light};
  --orange: #{$orange--light};

  body.dark-mode,
  body.system-dark {
    --bg-color: #{$bg-color--dark};
    --text-color: #{$text-color--dark};
    --yellow: #{$yellow--dark};
    --blue: #{$blue--dark};
    --purple: #{$purple--dark};
    --green: #{$green--dark};
    --orange: #{$orange--dark};
  }
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}
