@import "assets/scss/class";
@import "assets/scss/colors";

.fj-header {
  position: sticky;
  top: 0;
  z-index: 1;

  &__container {
    position: relative;
    z-index: 2;
    @extend .card-2;
    width: auto;
    border-radius: 28px;
    display: flex;
    align-items: center;
    box-shadow: 0 0px 1px -2px rgb(0 0 0 / 20%), 0 0px 2px 0 rgb(0 0 0 / 14%),
      0 0px 5px 0 rgb(0 0 0 / 12%) !important;

    @include dark-mode {
      @extend .card-4;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__btn-menu {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;

    & > svg {
      --svg-size: 18px;
      color: var(--primary);
      width: var(--svg-size);
      height: var(--svg-size);
    }

    @include xl {
      display: none;
    }
  }

  &__btn-login {
    --color-gg: #4285f4;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    color: white;
    border: 1px solid var(--color-gg);
    border-radius: 4px;
    background-color: var(--color-gg);
    user-select: none;
    cursor: pointer;
    font-size: smaller;
    letter-spacing: 0.4px;

    & > svg {
      margin-right: 10px;
      --size: 20px;
      width: var(--size);
      height: var(--size);
      background-color: currentColor;
      border-radius: 3px;
      padding: 10px;
    }
  }

  @mixin item-button {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
  }

  &__button {
    @include item-button();
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    & > svg {
      color: var(--primary);
    }

    &.state-cloud {
      position: relative;

      > svg,
      > .fj-progress-spinner {
        color: var(--primary);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        margin: auto;

        transition: opacity 0.3s;
      }
    }
  }

  &__profile-user {
    display: inline-flex;
    align-items: center;

    &__avatar {
      position: relative;
      display: flex;
      @include item-button();

      & > img,
      &__filter {
        @include item-button();
        width: 100%;
        height: 100%;
        z-index: 0;
      }

      &__filter {
        z-index: 1;
        position: absolute;
      }
    }
  }

  &__bg-filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: linear-gradient(
      180deg,
      rgba($bg-color, 1) 0%,
      rgba($bg-color, 1) 50%,
      rgba($bg-color, 0.8) 70%,
      rgba($bg-color, 0.2) 100%
    );

    @include dark-mode {
      background: linear-gradient(
        180deg,
        rgba($bg-color--dark, 1) 0%,
        rgba($bg-color--dark, 1) 50%,
        rgba($bg-color--dark, 0.8) 70%,
        rgba($bg-color--dark, 0.2) 100%
      );
    }
  }
}
