@import "assets/scss/class";
@import "assets/scss/colors";

.fj-header {
  @extend .card-4;
  width: auto;
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 8px;
  z-index: 1;

  &__right {
    display: flex;
    align-items: center;
  }

  &__btn-menu {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;

    & > svg {
      --svg-size: 18px;
      color: var(--primary);
      width: var(--svg-size);
      height: var(--svg-size);
    }
  }

  &__btn-login {
    --color-gg: #4285f4;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    color: white;
    border: 1px solid var(--color-gg);
    border-radius: 4px;
    background-color: var(--color-gg);
    user-select: none;
    cursor: pointer;
    font-size: smaller;
    letter-spacing: 0.4px;

    & > svg {
      margin-right: 10px;
      --size: 20px;
      width: var(--size);
      height: var(--size);
      background-color: currentColor;
      border-radius: 3px;
      padding: 10px;
    }
  }

  @mixin item-button {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
  }

  &__plus-button {
    @include item-button();
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    & > svg {
      color: var(--primary);
    }
  }

  &__profile-user {
    display: inline-flex;
    align-items: center;

    &__avatar {
      position: relative;
      display: flex;
      @include item-button();

      & > img,
      &__filter {
        @include item-button();
        width: 100%;
        height: 100%;
        z-index: 0;
      }

      &__filter {
        z-index: 1;
        position: absolute;
      }
    }
  }
}
